@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edit Employee";
}
@model Employee

<h1>Edit Employee</h1>
<form asp-action="Edit">
    <input type="hidden" asp-for="id" />
    <div class="form-group">
        <label>Họ tên</label>
        <input asp-for="fullName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Giới tính</label>
        <input asp-for="gender" class="form-control" />
    </div>
    <div class="form-group">
        <label>Điện thoại</label>
        <input asp-for="phone" class="form-control" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="email" class="form-control" />
    </div>
    <div class="form-group">
        <label>Lương</label>
        <input asp-for="salary" class="form-control" />
    </div>
    <div class="form-group">
        <label>Trạng thái</label>
        <input asp-for="status" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lai</a>
</form>
